.form{
  height:90px;
  padding:20px 40px;
  background-color:#d2d2d2;
  &__new-message{
    display: flex;
    &__input{
      height: 50px;
      width: 100%;
      background-color: #fff;
      display: flex;
      position:relative;
      &__text{
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      &__image{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
      }
    }
    .submit-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}