.form{
  height:90px;
  padding:20px 40px;
  background-color:#d2d2d2;
  .new_message{
    display: flex;
    .form__input{
      height: 50px;
      width: 100%;
      background-color: #fff;
      display: flex;
      position:relative;
      &__message{
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      &__mask{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
      }
    }
    .submit-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}

// .form {
//   background-color: #DDDDDD;
//   box-sizing: border-box;
//   height: 90px;
//   padding: 20px 50px 20px 40px;

//   &__message {
//     border: none;
//     float: left;
//     height: 50px;
//     width: calc(100% - 150px);
//   }
//   &__mask {
//     background-color: white;
//     float: left;
//     height: 50px;
//     padding-right: 10px;
//     &__image {
//       font-size: 20px;
//       line-height: 50px;
//     }
//     .hidden {
//       display: none;
//     }
//   }
//   &__submit {
//     background-color: blue;
//     border: none;
//     color: white;
//     float: right;
//     font-size: 16px;
//     height: 50px;
//     margin-left: 15px;
//     padding: 0 30px;
//   }
// }